# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# VSCode
.vscode/
*.code-workspace

# PyTorch
*.pth
*.pt
checkpoints/
runs/
logs/

/dataset/
remote_shutdown.sh
remote_reboot.sh
/startup_scripts/push_all_streamer.sh